{% extends "quotes/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotes:add_author' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label>Enter author's first name:
            {{ form.first_name }}
        </label>
        <span>{{ form.errors.first_name }}</span>
    </div>
    <div style="padding: 10px">
        <label>Enter author's last name:
            {{ form.last_name }}
        </label>
        <span>{{ form.errors.last_name }}</span>
    </div>
    <div style="padding: 10px">
        <label>Enter author's birth date:
            {{ form.birth_date }}
        </label>
        <span>{{ form.errors.birth_date }}</span>
    </div>
    <div style="padding: 10px">
        <label>Enter author's biography:
            {{ form.biography }}
        </label>
        <span>{{ form.errors.biography }}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

{% endblock %}
